<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">


    <!--追加到控制台-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS,GMT+8}]%-5level %logger{72}[%L] - %msg%n</pattern>
        </encoder>
    </appender>

    <!--追加到日志文件-->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/chth/all.log</file>
        <append>true</append>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS,GMT+8}]%-5level %logger{72}[%L] - %msg%n</pattern>
        </encoder>
    </appender>

    <!--debug级别以及以以上的都输出-->
    <logger name="springboot.docker.kebernetes" level="DEBUG"/>
    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>



</configuration>



